# https://vercel.com/docs/storage/vercel-postgres
POSTGRES_URL=postgresql://neondb_owner:npg_AfYX9h7oMQjm@ep-shiny-wave-a41va6i7-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET= 59d22bb36e4ba66ef5b76733c8ab55bb

# https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID=Ov23lihOACPPPZ99iBg5
AUTH_GITHUB_SECRET=146d1fb095ef6eb9ebbe81799a958705b310b319